{% extends "base.html" %}
{% set show_navigation = true %}
{% block title %}Notitie bewerken{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='css/create-edit-note.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
{% endblock %}
{% block content %}
<h1 class="text-center">Notitie bewerken</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-2 mb-2">
            <a href="{{ url_for('notes.notes_overview') }}">
                <button class="btn btn-danger"><i class="fa-solid fa-circle-chevron-left"></i> <span>| Terug</span>
                </button>
            </a>
        </div>
    </div>


    <div class="row form-box">
        <form action="{{ url_for('notes.edit') }}" method="post">
            <div class="input-group">
                <input id="note_id" name="note_id" type="hidden" value="{{ notes[0]['note_id'] }}">
                <div class="col-6 pe-2">
                    <label for="note-title" class="form-label">Titel</label>
                    <input type="text" class="form-control" name="note-title" id="note-title"
                           value="{{ notes[0]['title'] }}" required>
                </div>
                <div class="col-6 ps-2">
                    <label for="note-source" class="form-label">Bron</label>
                    <input type="text" class="form-control" name="note-source" id="note-source"
                           value="{{ notes[0]['note_source'] }}" required>
                </div>
            </div>
            <div class="input-group">
                <div class="col-12">
                    <label for="note-text" class="form-label">Notitie</label>
                    <textarea class="form-control" name="note-text" id="note-text"
                              required>{{ notes[0]['note'] }}</textarea>
                </div>
            </div>
            <div class="input-group">
                <div class="form-check form-switch">
                    <label for="categorySwitch" class="form-check-label">Categorie toevoegen</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="categorySwitch"
                           name="categorySwitch">
                </div>
                <div class="form-check ms-4 category-checkbox">
                    <input class="form-check-input" type="checkbox" value="{{ note_category }}" id="{{ note_category }}"
                           name="note-category" checked>
                    <label class="form-check-label" for="{{ note_category }}">{{ note_category }}</label>
                </div>
                {% for category in categories %}
                <div class="form-check ms-4 category-checkbox">
                    <input class="form-check-input" type="checkbox" value="{{ category[0] }}" id="{{ category[0] }}"
                           name="note-category">
                    <label class="form-check-label" for="{{ category[0] }}">{{ category[0] }}</label>
                </div>
                {% endfor %}
            </div>
            <div class="input-group">
                <div id="category-input">
                    <label for="note-category-text" class="form-label">Categorie</label>
                    <input type="text" class="form-control" id="note-category-text" name="note-category-text"
                           placeholder="Categorie van de notitie">
                </div>
            </div>
            <div class="input-group">
                <div class="form-check form-switch">
                    <label for="questionSwitch" class="form-check-label">Vraag toevoegen</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="questionSwitch"
                           name="questionSwitch">
                </div>
                <div class="form-check form-switch">
                    <label for="MPquestionSwitch" class="form-check-label">Meer keuze vraag toevoegen</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="MPquestionSwitch"
                           name="MPquestionSwitch">
                </div>
                <div class="form-check form-switch ms-4">
                    <label for="publicSwitch" class="form-check-label">Publiekelijk toegankelijk</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="publicSwitch" name="publicSwitch"
                           {% if public_access== 1 %}checked{% endif %}>
                </div>
            </div>
                {% for question in questions %}
                <div class="questions">
                    <label for="Question" class="form-label">Question</label>
                    <input type="text" class="form-control" name="{{ question[1] }}" id="{{ question[1] }}"
                           value="{{ question[0] }}">
                    <button class="btn btn-danger" formaction="{{ url_for('notes.question_edit', question_id=question[1], note_id=notes[0]['note_id']) }}">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-danger" formaction="{{ url_for('notes.question_delete', question_id=question[1], note_id=notes[0]['note_id']) }}">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
                {% endfor %}
            <div class="gap-3 d-flex">
                <button type="submit" class="btn btn-primary btn-submit">Opslaan</button>
                <button type="button" class="btn btn-danger btn-delete"
                        formaction="{{ url_for('notes.delete', note_id=notes[0]['note_id']) }}">Verwijderen
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}